body {
    background-color: #272825;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-container {
    background-color: #444542;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.btn-primary {
    background-color: #0057a7;
    border: none;
}
.btn-primary:hover {
    background-color: #1772c7;
}
.form-control {
    border-radius: 50px;
}
.form-label {
    margin-left: 10px;
    color: #fff;
}
.login-container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.forgot-link {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px; /* Adjust the logo size */
}