{% extends "managers/base.html" %}

{% block title %}工一云电脑 软件安装程序{% endblock %}

{% block extra_css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_static.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="form-section">
        <h2 class="section-title">编辑应用程序 {{app.name}} </h2>
        <form action="{% url 'edit_app'  app.id %}" method="POST" enctype="multipart/form-data" class="edit-app-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">应用程序名称::</label>
                <input type="text" id="name" name="name" class="form-input" value="{{ app.name }}" required>
            </div>

            <div class="form-group">
                <label for="description">描述:</label>
                <textarea id="description" name="description" class="form-input" placeholder="输入应用程序描述">{{ app.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="script">脚本:</label>
                <textarea id="script" name="script" class="form-input" readonly>{{ app.script }}</textarea>
            </div>

            <div class="form-group">
                <label for="app-category">类别:</label>
                <select id="category" name="category" class="form-input" required>
                    <option value="" disabled>选择类别</option>
                    <option value="生产力" {% if app.category == '生产力' %}selected{% endif %}>生产力</option>
                    <option value="游戏" {% if app.category == '游戏' %}selected{% endif %}>游戏</option>
                    <option value="公用事业" {% if app.category == '公用事业' %}selected{% endif %}>公用事业</option>
                    <option value="教育类" {% if app.category == '教育类' %}selected{% endif %}>教育类</option>
                    <!-- Add more categories as needed -->
                </select>
            </div>

            <div class="form-group">
                <label for="price">价格 (¥):</label>
                <input type="number" id="price" name="price" class="form-input" placeholder="输入应用价格" step="0.01" min="0" value="{{ price|default:'0.00' }}">
            </div>

            <div class="form-group">
                <label for="icon_file">上传新图标（留空以保持最新）:</label>
                <input type="file" id="icon_file" name="icon_file" class="form-input-file" accept="image/*">
                {% if app.icon_path %}
                    <div class="current-icon">
                        <img src="{{MEDIA_URL}}{{app.icon_path}}" alt="{{ app.name }} Icon" class="current-icon-image">
                        <span>当前图标</span>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="screenshots">添加新截图:</label>
                <input type="file" id="screenshots" name="screenshots" class="form-input-file" accept="image/*" multiple>
            </div>

            <div class="form-group">
                <button type="submit" class="form-button">更新应用程序</button>
            </div>
        </form>
    </section>
</main>

{% endblock %}