{% extends "user/base.html" %}

{% block title %}工一云电脑 应用程序列表{% endblock %}

{% block extra_css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/applist_static.css' %}">
{% endblock %}

{% block content %}

<main class="main-content">
    <aside class="category-list">
        <p class="active"><b>应用程序类别</b></p>
        <a href="{% url 'applist' %}" {% if not selected_category %}class="active"{% endif %}>所有程序</a>
        {% for cat in categories %}
            <a href="{% url 'applist_by_category' category=cat %}" {% if selected_category == cat %}class="active"{% endif %}>
                {{ cat }}
            </a>
        {% endfor %}
    </aside>
    <section class="apps">
        <h2>
            {% if selected_category %}
                {{ selected_category }}程序
            {% else %}
                所有程序
            {% endif %}
        </h2>
        <div class="app-grid">
            {% for app in apps %}
                <a href="{% url 'app_detail' app_name=app.name %}" class="app-link">
                    <div class="app">
                        <img src="{{ MEDIA_URL }}{{ app.icon_path }}" alt="{{ app.name }} Icon" class="app-icon">
                        <div class="app-info">
                            <span class="app-name">{{ app.name }}</span>
                            <span class="app-category">{{ app.category }}</span>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>No apps found in this category.</p>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
