{% extends "user/base.html" %}

{% block title %}工一云电脑 软件安装程序{% endblock %}

{% block extra_css %}
{% load static %}
   <link rel="stylesheet" href="{% static 'css/static.css' %}">
{% endblock %}

{% block content %}

<main>
  <section class="slider">
    <div class="slides-container"> <!-- Wrap slides in a container -->
        <div class="slide">
            <img src="{% static 'banners/banner1.png' %}">
        </div>
        <div class="slide">
            <img src="{% static 'banners/banner2.png' %}">
        </div>
    </div>
</section>

    <section class="apps">
        <h2 class="section-title">
            <a href="{%url 'applist' %}" class="section-link">所有程序 ></a>
        </h2>

        <div class="app-grid">
            {% for app in apps %}
                <a href="{% url 'app_detail' app_name=app.name %}" class="app-link">
                    <div class="app">
                        <img src="{{ MEDIA_URL }}{{ app.icon_path }}" alt="{{ app.name }} Icon" class="app-icon">
                        <div class="app-info">
                            <span class="app-name">{{ app.name }}</span>
                            <span class="app-category">{{app.category}}</span> <!-- Add dynamic category here -->
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
</main>
<script src="{% static 'js/slider.js' %}"></script>

{% endblock %}