{% extends "user/base.html" %}

{% block title %}个人资料{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ MEDIA_URL }}{{ profile.profile_picture }}" alt="{{ profile.user.username }}">
            <h1>{{ profile.user.username }}</h1>
        </div>

        <div class="profile-info">
            <label for="username">用户名:</label>
            <span>{{ profile.user.username }}</span>

            <label for="real_name">真实姓名:</label>
            <span>{{ profile.real_name }}</span>

        </div>
        <button class="profile-edit-btn" onclick="window.location.href='{% url 'profile_edit' %}'">Edit Profile</button>

    </div>
{% endblock %}
